.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #143364;
    margin-top: 1rem;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container h1 {
    font-size: 3rem;
}

@media (max-width: 360px) {
    .form-container{
        width: 80vw;
    }
    .formControl-section{
        width: 80vw;
    }
}